.content{
    display: grid;

    /* Indicando que as colunas de nosso "grid" sera duas, sendo uma de 60% 
    para esquerda e 40% para direita. Lebrando que podemos dividir em mais partes, 
    contudo a soma das % deve ser 100 */
    grid-template-columns: 60% 40%;

    /* Indicando que as linhas de nosso "grid" sera duas, sendo uma de 11.4rem(114px) 
    para cima e 1 fracao pegando o restante todo para baixo */
    grid-template-rows: 11.4rem 1fr;

    /* Indicando o que cada area de nosso "grid" vai portar
    A priemeira "low" vai ter daus "columns" com o <header> 
    A segunda "low" vai ter uma "columns" para esquerda e direita */
    grid-template-areas: 
    'header header'
    'left right'
}

header{
    /* Indicando qual parte da divisao do "grid" vai estar */
    grid-area: header;    
}

#bg{
    /* Indicando qual parte da divisao do "grid" vai estar */
    grid-area: left;

    /* "no-repeat"=nao repetir a img
    "top/contain"=forcar a img ficar top em seu 100% */
    background: url(/assets/home-bg-img.svg)  no-repeat top/contain;
}

main{
    /* Indicando qual parte da divisao do "grid" vai estar */
    grid-area: right;
    display: flex;
    align-items: center;
}

main .content{
    /* Indicando que a largura do "main .content" sera no minimo 36.6rem(363px), 
    quando a tela ultrapassar este numero a area oculpara 100% */
    width: min(36.3rem 100%);
}

main h2{
    font-family: 'Poppins', sans-serif;
    color: var(--black);
    
    /* min 20px med 5vw max 2.8rem */
    font-size: clamp(20px, 5vw, 2.8rem);
    margin-bottom: 2.4rem;
}

input{
    border: 0.2rem solid var(--grey-blue);
    padding: 0.6rem;
}

input, button, .button{
    width: 100%;
    margin-bottom: 1.8rem;
}